# General
.DS_Store
.env
.env.*
*.log
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node
node_modules/
dist/
lib/
build/
coverage/

# Firebase
.firebase/
firebase-debug.log
database-debug.log

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace