# Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Firebase
.firebase/
firebase-debug.log
*.emulators.export

# Build output
dist/
build/
lib/

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db

# Test reports
coverage/
junit.xml